html{
    background-color:rgb(0, 77, 77);
    font-family: sans-serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.gameContainer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1;
    justify-content: center;
    align-items: center;
}

.userInputContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 2%;
    margin-top: 2%;
    align-items: center;
}

.title{
    font-size: 40px;
}

.directions{
    margin-bottom: 3%
}


.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 12px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;

    margin-top: 5%;
    margin-bottom: 20%;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px; 
    height: 17px; 
    border-radius: 50%;
    background: #4CAF50; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    background: #4CAF50; 
    cursor: pointer;
  }